<div class="bg-black py-3">
  <div class="container mx-auto px-4">
    <ul class='list-reset'>
      <li>
        <a href="" class='text-white link opacity-75 hover:opacity-100'>GitHub</a>
      </li>
    </ul>
  </div>
</div>
